    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>I am currently a web developer with a background in Statistics. I graduated from the University of California Santa Barbara with a degree in Statistical Science. My goal is to combine my programming skills with my knowledge of statistics
                to effectively practice data science. My main areas of interest are data visualization and building
                machine learning models</p>
                    </p>
                	<div class="technology">
						<h4>Skills :&nbsp;&nbsp;</h4>
            <span class="br-pink">Ruby </span>&nbsp;&nbsp;
						<span class="br-red">Javascript </span>&nbsp;&nbsp;
						<span class="br-green">Java </span>&nbsp;&nbsp;
						<span class="br-blue">Ruby on Rails </span>&nbsp;&nbsp;
						<span class="br-yellow">React JS </span>&nbsp;&nbsp;
						<span class="br-orange">SQL </span>&nbsp;&nbsp;
            <span class="br-purple">Android </span>
					</div>
                <br/>
              </div>
        </div>
    </section>
